body {
background-color: #E86A5F
}

h1 {
	text-align: center;
	color: black;
}

.button {
  background-color: #794FFF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
